$primaryColor:rgba(64, 70, 148, 1);

$justify: space-between;
$align: center;

//MEDIA QUERY
$smallMobile: 320px;
$mediumMobile:375px;
$largeMobile: 425px;
$smallTablet:540px;
$tablet_768: 768px;
// $tablet_767: 767px;
$tablet_900: 900px;
$tabletAndBelow:1024px;
$largerLaptop:1440px;