$primaryColor: rgba(64, 70, 148, 1);
$fontSize: 16px;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 18px;
$justify: space-between;
$align: center;

//MEDIA QUERY
$smallMobile: 320px;
$mediumMobile: 375px;
$largeMobile: 425px;
$smallTablet: 540px;
$tablet_768: 768px;
// $tablet_767: 767px;
$tablet_900: 900px;
$tabletAndBelow: 1024px;
$laptop: 1200px;
$largerLaptop: 1440px;
