@use "../style" as *;

@font-face {
  font-family: "Neue Regrade";
  src: url("./fonts/NeueRegrade-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("./fonts/NeueRegrade-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neue Regrade";
  src: url("./fonts/NeueRegrade-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Neue Regrade";
  src: url("./fonts/NeueRegrade-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Neue Regrade", sans-serif;
  font-weight: 500;
}

header {
  .header {
    // width: 100%;

    // height: 550px;

    // background: linear-gradient(
    //     to right,
    //     rgba(227, 149, 76, 0.8),
    //     rgba(58, 64, 135, 0.8)
    //   ),
    //   url("https://s3-alpha-sig.figma.com/img/fbd9/6413/4145d90a9562b3eff6ef5c97a10cad3e?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J-e~Px~~oBVy5e41cykZ8aBoP3uqFg1l6MTIdeZ-0WXDLb-uO2O3t0xKKIiz483OSSlw0jExFLXy0G4gikxFRxYdMPDstsQZAbM6jxM~C86QZIfJEOJ6GuHJICeihFqhZr9iRtfSjp-krOtzKeKZ-2ULFXIpHi28SN8wYzoaD4jCrZYxCksy1lhjxW7~VoS-g3R69t1r9yGUTlQuJx0aCOZvI2uK2JfM4PuI8f6seWRCw1zLT1Ec7ty2VOHN9eI0istnUahrDpYojiDibJ0SQkvI3swyOeeJ4Lr9HIOMDx0FLwdTWjDZWYXC5nAbn70ouq9mpx~AAiAbAqc7k4IKEg__");
    // background-size: cover;
    // background-position: center;
    // background-color: rgba(255, 255, 255, 1);
    .nav-bar {
      width: 100%;
      max-width: 1150px;
      margin: 0px auto;
      position: relative;
      top: 20px;
      padding: 15px 16px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.05);
      background-color: rgba(255, 255, 255, 1);
      background-color: black;
      //   position: fixed;
      @include smallMobile {
        border-radius: 0;
        top: 0;
        // max-width: 320px;
      }
      //   @include tablet_768 {
      //     max-width: 1100px;
      //   }
      @include tablet_900 {
        border-radius: 12px;
        top: 20px;
        max-width: 850px;
      }
      @include tabletAndAbove {
        max-width: 970px;
      }
      @include laptop {
        max-width: 1150px;
      }
      @include largerLaptop {
        max-width: 1350px;
      }

      & .nav-bar-ul {
        display: flex;
        justify-content: space-between; 
        align-items: $align;
        width: 100%;
        padding: 0;
        @include smallMobile {
          display: none;
        }
        @include tablet_900 {
          display: flex;
        }
        ul {
          display: flex;
          justify-content: center;
          position: relative;

          margin: 0 auto;
          gap: 20px;

          @include smallMobile {
            flex-direction: column;
          }
          @include tablet_900 {
            flex-direction: row;
          }
        }
        li {
          padding: 8px;
          border-radius: 4px;
          color: rgba(87, 90, 102, 1);
          text-align: $align;
          cursor: pointer;
          &:hover {
            background-color: rgba(238, 239, 240, 1);
          }
        }
      }
      .menu {
        position: relative;
        // @include smallMobile {
        //   display: none;
        // }
        &.active {
          @include smallMobile {
            position: absolute;
            top: 75px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: white;
            width: 80%;
            border-radius: 6px;
            text-align: center;
            padding: 24px 0px;
            margin: 0 auto;
            left: 50%;
            transform: translate(-50%, 0);
            font: {
              size: 14px;
            }
            z-index: 100;
          }
        }
      }

      & .hamburger {
        border: 0;
        background-color: white;
        @include smallMobile {
          display: block;
          cursor: pointer;
        }
        @include tablet_900 {
          display: none;
        }
        & .img-hamburger {
          width: 30px;
          display: block;
        }
        & .x-icon {
          padding-bottom: 4px;
          display: none;
        }
        &.active {
          .img-hamburger {
            display: none;
          }
          .x-icon {
            display: block;
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 48px 0;
  background-color: rgba(27, 29, 62, 1);
  position: relative;
  top: 40px;
  .footer-content {
    width: 100%;
    max-width: 1150px;
    margin: 0px auto;
    padding: 0 80px;
    @include smallMobile {
      padding: 0 50px;
    }
    @include largeMobile {
      padding: 0 80px;
    }
    @include tablet_768 {
      padding: 0 20px; /* Adjust padding for tablet screens and above */
    }

    @include tablet_900 {
      padding: 0 20px;
      max-width: 850px;
    }
    @include tabletAndAbove {
      max-width: 970px;
      padding: 0 20px;
    }
    @include laptop {
      max-width: 1150px;
      padding: 0 20px; /* Narrower padding for laptops and larger screens */
    }
    @include largerLaptop {
      max-width: 1350px;
      padding: 0 20px;
    }
  }

  .footer-header {
    display: flex;
    justify-content: space-between;

    @include smallMobile {
      flex-direction: column;
    }
    @include tablet_768 {
      flex-direction: row;
    }

    .footer-logo {
      display: flex;
      align-items: center;
    }

    .socials {
      display: flex;
      gap: 16px;
      align-items: center;

      @include smallMobile {
        justify-content: center;
        margin-top: 20px;
      }
      @include tablet_768 {
        position: relative;
        left: 10px;
      }
    }
  }

  .footer-line {
    padding-top: 30px;

    @include smallMobile {
      padding-top: 20px;
    }
    @include tablet_768 {
      padding-top: 30px;
    }
  }

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    color: rgba(203, 204, 208, 1);
    @include smallMobile {
      padding-top: 20px;
    }
    @include tablet_768 {
      flex-wrap: nowrap;
      padding-top: 40px;
    }

    p {
      text-align: left;
      margin: 0;

      @include smallMobile {
        width: 100%;
        max-width: 200px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      @include tablet_768 {
        text-align: left;
        margin: 0;
        width: 100%;
        max-width: 500px;
      }
    }

    .footer-bottom-socials {
      display: flex;
      gap: 16px;

      @include smallMobile {
        justify-content: center;
        width: 100%;

        text-wrap: nowrap;
      }
      @include tablet_768 {
        width: auto;
      }
    }
  }
}
